[submodule "LBA-ARVQA"]
	path = LBA-ARVQA
	url = https://github.com/tomyoon2/LBA-ARVQA.git
[submodule "ood-diffusion"]
	path = ood-diffusion
	url = https://github.com/hushon/ood-diffusion.git
[submodule "LBA-DramaQG"]
	path = LBA-DramaQG
	url = https://github.com/gminipark/LBA-DramaQG.git
[submodule "Scene-Graph-Extraction"]
	path = Scene-Graph-Extraction
	url = https://github.com/youngyoung1021/Scene-Graph-Extraction.git
[submodule "DramaQA"]
	path = DramaQA
	url = https://github.com/liveseongho/DramaQA.git
